*{
    margin: 0;
    font-family: sans-serif;
}

.container{
    display: grid;
    grid-template: 200px 100% / 300px auto;
}

.sidebar{
    font-family: sans-serif;
    color: white;
    background-color: #047857;
    display: grid;
    height: 100%;
    font-size: 22px;
    font-weight: 700;
    grid-row: span 2;
    grid-template-rows: 2fr 3fr 3fr 100%;
}

.sidebar li a{
    display: grid;
    grid-template-columns: 80px 1fr;
}

.sidebar a{
    font-family: sans-serif;
    color: white;
    background-color: #047857;
    display: grid;
    height: 100%;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}

.titlebar{
    display: grid;
    grid-template-columns: 100px auto;
    align-content: center;
}

.title, .logo{
    display: flex;
    overflow: hidden;
    align-items: center;
}

.logo{
    background-image: url(icons/squares.png);
    background-size: 60px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-left: 30px;
}

ul{
    list-style: none;
    display: grid;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 80px;
}

.sidebar ul{
    grid-template-rows: repeat(6, minmax(20px, 40px));
    row-gap: 20px;
}

.sidebar a img{
    scale: 60%;
}

.sidebar p{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.header{
    display: grid;
    grid-template: 60px 120px / 2fr 1fr;
    padding-left: 20px;
    row-gap: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    z-index: 1;
}

.header span{
    margin-right: 25px;
}

#searchbar{
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: #cbd5e1;
    height: 20px;
    padding: 5px 15px;
    width: inherit;
}

.search{
    display: grid;
    width: auto;
}

.form1{
    display: grid;
    align-items: center;
    grid-template-columns: 45px 1fr;
}


.form1 button{
    background: url(icons/magnify.svg) no-repeat;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

.form1 div{
    width: -webkit-fill-available;
}

.user{
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    height: auto;
    font-size: 20px;
    font-family: sans-serif;
    align-items: center;
    justify-self: end;
}

.user img{
    height: 40px;
    width: auto;
    padding: 0 20px;
}

.avatar{
    width: 60%;
    border-radius: 50%;
}

.welcome{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 110px auto;
    row-gap: 10px;
    column-gap: 20px;
}

.welcome p{
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}

.welcomepic{
    grid-row: span 2;
    width: -webkit-fill-available;
    width: -moz-fill-available;
    height: auto;
    display: grid;
    align-self: center;
}

.interactions{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 10px;
    width: 300px;
    justify-self: end;
    margin-right: 40px;
}

.interactions button{
    color: white;
    background-color: #047857;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    height: fit-content;
    padding: 10px;
    width: 100px;
    font-weight: bold;
    font-size: 16px;
}

.tiles{
    background-color: #cbd5e1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, min-content);
    column-gap: 15px;
}

.projects, .announcements, .trending, .trending > div, .trending-user{
    display: grid;
}

.projects{
    grid-row: span 2;
    grid-template-columns: repeat(2, minmax(300px, 400px));
    grid-template-rows: 30px repeat(3, minmax(150px, 250px));
    padding-left: 20px;
    padding-top: 20px;
    gap: 20px;
}

.projects h1{
    grid-column: span 2;
}

.card{
    padding: 25px;
    border-left: 4px solid #3b82f6;
    border-left-width: 10px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 2fr 1fr;
}

.card, .announcements > div, .trending > div{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}

.card div:first-child{
    grid-column: span 2;
    overflow: hidden;
}

.card div:nth-child(2){
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column-start: 2;
}

.card button{
    height: 25px;
    width: 20%;
    border: none;
    margin: 0 5px;
    cursor: pointer;
}

.favorite{
    background: url(icons/star-plus-outline.svg) no-repeat;
}

.show-more{
    background: url(icons/eye-plus-outline.svg) no-repeat;
}

.share{
    background: url(icons/share-variant-outline.svg) no-repeat;
}

.announcements{
    padding-top: 20px;
    grid-template-rows: 30px repeat(1, minmax(350px, 400px));
    row-gap: 20px;
    margin-right: 20px;
}

.announcements > div{
    padding: 20px;
    display: grid;
    align-content: space-evenly;
}

.trending{
    margin-top: 20px;
    margin-right: 20px;
    grid-template-rows: 30px repeat(1, minmax(350px, 400px));
    row-gap: 20px;
}

.trending > h1{
    grid-column: span 2;
}

.trending > div{
    display: grid;
    grid-template-rows: repeat(4, 1fr)
}

.trending > div > div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 0 25px;
}