*{
    margin: 0;
}

.container{
    display: grid;
    grid-template: 200px 100% / 300px auto;
}

.sidebar{
    font-family: sans-serif;
    color: white;
    background-color: #047857;
    display: grid;
    height: 100%;
    font-size: 22px;
    font-weight: 700;
    position: sticky;
    grid-row: span 2;
}

.titlebar{
    display: grid;
    grid-template-columns: 100px auto;
    align-content: center;
}

.title, .logo{
    display: flex;
    overflow: hidden;
    align-items: center;
}

.logo{
    background-image: url(icons/squares.png);
    background-size: 60px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-left: 30px;
}

ul{
    list-style: none;
    display: grid;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 80px;
}

.sidebar ul{
    grid-template-columns: 40px auto;
    grid-template-rows: repeat(6, 1fr);
}

.header{
    display: grid;
    grid-template: 60px 120px / 2fr 1fr;
}

#searchbar{
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: #cbd5e1;
    height: 20px;
    padding: 5px 15px;
}

.search{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 20px;
}

.form1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.form1 button{
    background: url(icons/magnify.svg) no-repeat;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

.form1 div{
    width: auto;
}